body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

h2{
    color: rgba(0,0,0,0.8);
}
h3{
    color: rgba(0,0,0,0.6);
}
p{
    color: rgba(0,0,0,0.6);
}
label{
    color: rgba(0,0,0,0.6);
}

.container{
    display: flex;
    flex-direction: row;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 28.5%;
    border-right: #FF5858 solid 1px;
}

.top_left{
    background-color: #FF5858;
    width: 100%;
}

.user_name{
    margin: 40px;
}

.left_bottom{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.match{
    width: 80%;
    background-color: #fff;
    height: 60px;
    margin-top: 20px;
}

.match h3{
    text-align: center;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis:  71.5%;
}

.logo{
    width: 45%;
    margin-top: 20px;
}

.logo img{
    width: 100%;
}

.suggestions{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 85%;
}

.user_image{
    width: 50%;
    height: 100%;
    position: relative;
}

.dislike-icon {
    position: absolute;
    left: 25%;
    top: 90%;
    transform: translateY(-50%);
    color: #FF5858;
    background-color: #fff;
    border-radius: 50%;
    font-size: 2.5rem;
    padding: 15px;
}
 
.like-icon {
    position: absolute;
    right: 25%;
    top: 90%;
    transform: translateY(-50%);
    color: #FF5858;
    background-color: #fff;
    border-radius: 50%;
    font-size: 2.5rem;
    padding: 15px;
    transition: transform 0.3s ;
}

.dislike-icon:hover,
.like-icon:hover{
    cursor: pointer;
}

.user_image img{
    width: 100%;
    height: 100%;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    background-color: #fff;
    height: 100%;
}

.text{
    margin: 30px;
}

.text p{
    text-align: justify;
}

@media (max-width: 850px) {
    .suggestions{
        flex-direction: column;
        text-align: center;
    }
    .user_image{
        width: 100%;
    }
    .infos{
        width: 100%;
        align-items: start;
    }
}

.signin-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.signin-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-logo img{
    width: 30%;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin:auto;
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.wrapper .form{
    width: 100%;
}

.wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .inputfield label{
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .inputfield .register_input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    background-color: #FAFAFA;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .inputfield .custom_select select{
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    font-size: 15px;
    background-color: #FAFAFA;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.wrapper .form .inputfield .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #FF5858;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
